{% extends 'base.html.twig' %}

{% block title %}Edit Cv{% endblock %}

{% block body %}
	<div class="container">
    	<div class="row">
      		<div class="card br20 blue-grey lighten-5 center-align">
			    <h1>Edit Cv</h1>

			    {{ include('cv/_form.html.twig', {'button_label': 'Update'}) }}

			    <a class="btn btn-large waves-effect waves-light" href="{{ path('cv_show', {'id':cv}) }}">Retour au Cv</a>

			    {{ include('cv/_delete_form.html.twig') }}
			</div>
		</div>
	</div>
{% endblock %}
