{% extends 'base.html.twig' %}

{% block title %}New Cv{% endblock %}

{% block body %}
	<div class="light-green lighten-3">
		<div class="container">
    		<div class="row">
      			<div class="card br20 blue-grey lighten-5 center-align">
			    	<h1>Créer un Cv</h1>

			    	{{ include('cv/_form.html.twig') }}
			    	
				</div>
			</div>
		</div>
	</div>
{% endblock %}
