<form method="post" action="{{ path('center_interest_delete', {'id': center_interest.id,'idcv': cv}) }}" onsubmit="return confirm('Etes-vous sûr de vouloir supprimer ce centre d'intérêt?');">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ center_interest.id) }}">
    <div class="row right">
    	<button class="red waves-effect waves-light btn">Delete</button>
    </div>
</form>
