{% extends 'base.html.twig' %}

{% block title %}Edit CenterInterest{% endblock %}

{% block body %}
    <h1>Edit CenterInterest</h1>

    {{ include('center_interest/_form.html.twig', {'button_label': 'Update'}) }}

     <a href="{{ path('cv_show', {'id':cv}) }}">back to list</a>

    {{ include('center_interest/_delete_form.html.twig') }}
{% endblock %}
