{% extends 'base.html.twig' %}

{% block title %}Password Reset Email Sent{% endblock %}

{% block body %}

<div class="container">
    <div class="row">
      <div class="card br20 blue-grey lighten-5 center-align">
                    <div class="card-body">
    					<p class="flow-text">An email has been sent that contains a link that you can click to reset your password. This link will expire in {{ tokenLifetime|date('g') }} hour(s).</p>
    					
    					<p class="flow-text">If you don't receive an email please check your spam folder or <a href="{{ path('app_forgot_password_request') }}">try again</a>.</p>
    				</div>
    			</div>
    		</div>
    	</div>
{% endblock %}
