{{ form_start(form) }}
  <div class="row">
    <div class="col s10">
      {{ form_row(form.search) }}
    </div>
    <div class="col s2">
      {{ form_row(form.save)}}
    </div>
  </div>
                
              
                

      
{{ form_end(form) }}