<form method="post" action="{{ path('langue_delete', {'id': langue.id,'idcv': cv}) }}" onsubmit="return confirm('Etes-vous sûr de vouloir supprimer cette langue?');">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ langue.id) }}">
    <div class="row right">
    	<button class="red waves-effect waves-light btn">Delete</button>
    </div>
</form>
