{% extends 'base.html.twig' %}

{% block title %}New Langue{% endblock %}

{% block body %}
	<div class="light-green lighten-3 hfull">
		<div class="container">
	    	<div class="row">
	      		<div class="card br20 blue-grey lighten-5 center-align">
				    <h1>Ajouter une Langue</h1>

				    {{ include('langue/_form.html.twig') }}
				    
				</div>
			</div>
		</div>
	</div>
{% endblock %}
