{% extends 'base.html.twig' %}

{% block title %}Edit ProfessionalCourse{% endblock %}

{% block body %}
    <h1>Edit ProfessionalCourse</h1>

    {{ include('professional_course/_form.html.twig', {'button_label': 'Update'}) }}

     <a href="{{ path('cv_show', {'id':cv}) }}">back to list</a>

    {{ include('professional_course/_delete_form.html.twig') }}
{% endblock %}
