{% extends 'base.html.twig' %}
{% block title %}Accueil Web CV{% endblock %} 
{% block stylesheets %}
	<style type="text/css">
		.height30{
			height: 300px;
		}
	</style>
{% endblock %}
	{% block body %}
		<div class="blue-grey darken-3 hfull">
			
        {% include 'back/menu_admin.html.twig' %}

			<div class="container white-text">
				<div class="row center-align">
						<h1>Interface Admin</h1>
				</div>
				<div class="row">
					<p class="flow-text center-align">Dans cet espace, retrouver toutes les fonctionnalités dédiés aux utilisaeurs ayant un niveau au minimum ROLE_BACK</p>
				</div>
			</div>
		</div>
{% endblock %}