{% extends 'base.html.twig' %}

{% block title %}New Training{% endblock %}

{% block body %}
    <div class="light-green lighten-3 hfull">
    	<div class="container">
        	<div class="row">
          		<div class="card br20 blue-grey lighten-5 center-align">
        			<h1>Ajouter une Formation</h1>

        			{{ include('training/_form.html.twig') }}
        			
        		</div>
        	</div>
        </div>
    </div>
{% endblock %}
