{% extends 'base.html.twig' %}

{% block title %}New Training{% endblock %}

{% block body %}
	<div class="container">
    	<div class="row">
      		<div class="card br20 blue-grey lighten-5 center-align">
    			<h1>Create new Training</h1>

    			{{ include('training/_form.html.twig') }}
    		</div>
    	</div>
    </div>

    <a class="btn btn-large waves-effect waves-light" href="{{ path('cv_show', {'id':cv}) }}">Retour au Cv</a>
{% endblock %}
