{% extends 'base.html.twig' %}
{% block title %}<h1>A propos Web CV</h1>{% endblock %} {% block body %}
<div class="container">
		<div class="row center-align">
			<h1>A propos Web CV</h1>
		</div>
	</div>
{% endblock %}