{# templates/public/home.html.twig #}{% extends 'base.html.twig' %}{% block
title %}<h1>A propos Web CV</h1>{% endblock %} {% block body %}

<h1>A propos Web CV</h1>
<p>{{ number }}</p>
{% endblock %}