{% extends 'base.html.twig' %}
{% block title %}Contact Web CV{% endblock %}
{% block stylesheets %}
	<style type="text/css">
		@keyframes tipsy {
		  0 {
		    transform: translateX(-50%) translateY(-50%) rotate(0deg);
		  }
		  100% {
		    transform: translateX(-50%) translateY(-50%) rotate(360deg);
		  }
		}

		body {
		  font-family: helvetica, arial, sans-serif;
		  background-color: #2e2e31;
		}

		.tit{
		  color: #fffbf1;
		  text-shadow: 0 20px 25px #2e2e31, 0 40px 60px #2e2e31;
		  font-size: 80px;
		  font-weight: bold;
		  text-decoration: none;
		  letter-spacing: -3px;
		  margin: 0;
		  position: absolute;
		  top: 50%;
		  left: 50%;
		  transform: translateX(-50%) translateY(-50%);
		}

		.tit:before,
		.tit:after {
		  content: '';
		  padding: .9em .4em;
		  position: absolute;
		  left: 50%;
		  width: 100%;
		  top: 50%;
		  display: block;
		  border: 15px solid red;
		  transform: translateX(-50%) translateY(-50%) rotate(0deg);
		  animation: 10s infinite alternate ease-in-out tipsy;
		}

		.tit:before {
		  border-color: #d9524a #d9524a rgba(0, 0, 0, 0) rgba(0, 0, 0, 0);
		  z-index: -1;
		}

		.tit:after {
		  border-color: rgba(0, 0, 0, 0) rgba(0, 0, 0, 0) #d9524a #d9524a;
		  box-shadow: 25px 25px 25px rgba(46, 46, 49, .8);
		}
		.titlepage{
        font-size: 120px;
      	}
      	.textunder{
      		margin-top: 50vh;
      		text-shadow: 1px 1px 2px #000000;
      		text-align: justify;
      		padding-top: 30vh;
      	}
      	// Message alert
      	.materialert{
		    position: relative;
		    min-width: 150px;
		    padding: 15px;
		    margin-bottom: 20px;
		    margin-top: 15px;
		    border: 1px solid transparent;
		    border-radius: 4px;
		    transition: all 0.1s linear;
		    webkit-box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 3px 1px -2px rgba(0,0,0,0.12), 0 1px 5px 0 rgba(0,0,0,0.2);
		    box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 3px 1px -2px rgba(0,0,0,0.12), 0 1px 5px 0 rgba(0,0,0,0.2);
		    display: -webkit-box;
		    display: -webkit-flex;
		    display: -ms-flexbox;
		    display: flex;
		    -webkit-box-align: center;
		    -webkit-align-items: center;
		    -ms-flex-align: center;
		    align-items: center;
		}
		.materialert .material-icons{
		    margin-right: 10px;
		}
		
		
		.materialert.success{
		    width: 100%;
		    min-height: 100%;
		    z-index: 10;
		    position: absolute;
		    left: 0%;
		    border-radius: 20px;
		    text-align: center!important;
		}
		.materialert p{
			font-size: 20px;
			margin: auto;
		}
		
	</style>
{% endblock %}

{% block body %}

<div class="light-blue hfull">
	<div class="container">
		<div class="row center-align">
			<h1 class="titlepage tit">Contact</h1>
		</div>
		<div class="row textunder">
			<div class="col s12 m12 l4">
				<p class="flow-text white-text center-align">
				Vous souhaitez nous faire part d'erreur sur le site?<br>
				De fonctionnalité que vous souhaiteriez voir sur celui-ci ?<br><br>
				N'hésiter pas à nous envoyer un mail à partir du formulaire. <br><br>
				Nous Répondrons dans les plus brefs délais!
				</p>

			</div>
			<div class="col s12 m12 l8">
				{% include 'public/form.html.twig' %}
			</div>
		</div>
	</div>
</div>
{% endblock %}