{% extends 'base.html.twig' %}

{% block title %}Edit Skills{% endblock %}

{% block body %}
	<div class="container">
    	<div class="row">
      		<div class="card br20 blue-grey lighten-5 center-align">
			    <h1>Edit Skills</h1>

			    {{ include('skills/_form.html.twig', {'button_label': 'Update'}) }}

			    <a class="btn btn-large waves-effect waves-light" href="{{ path('cv_show', {'id':cv}) }}">Retour au Cv</a>

			    {{ include('skills/_delete_form.html.twig') }}
			</div>
		</div>
	</div>
	
{% endblock %}
